/* @font-face {
	font-family: "Rockw";
	font-style: normal;
	font-weight: normal;
	src: url("http://www.stahlish.com/swg/ROCK.TTF") format('truetype');
} */

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

td { 
	text-align:center;
	vertical-align:middle;
	font-size: 18px;
	/* background-color: #ddffdd; */
	font-style: italic;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #aaccaa;
}
