@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v15/cycBf3mfbGkh66G5NhszPQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#name {
	text-align: center;
	font-family: 'Lobster', cursive;
}

#navMenu {
	font-size: 14px;
}

#footer {
	text-align: center;
	font-size: 12px;
}

#bgMenu {
	background-color: #ffcc66;
	display:inline-table;
	margin: auto;
	width: 100%;
}

#bgMain {
	background-color: #cc6666;
}

.required {
	font-weight: bold;
}

.required:hover {
	color: #ff0000;
	font-style: italic;
}

a {
	font-weight: normal;
}

a:visited {
	color: red;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}